page-cart {
	.scroll-content {
		background: color($colors, secondary);
		display: block;
		padding: 0 !important;

			.no-items-in-cart {
				margin-top: 40px;

				h2 {
					font-size: 20px;
					line-height: 24px;
					font-family: 'Gotham_Pro_Bold';
					text-align: center;
				}
			}

			ion-item {
				padding: 15px;
				border-bottom: 1px solid #bfbfbf;
				width: 100%;
				overflow: scroll;

				.item-inner {
					padding-right: 0 !important;
					border: 0 !important;

					ion-label {
						margin: 0;
					}
				}

				div {
					float: left;

					&.product-image {
						width: 25%;
						margin-right: 3%;
						max-width: 90px;
					}

					&.product-info {
						width: 72%;
						max-width: 250px;

						h2 {
							color: #1c1c1c;
							margin-bottom: 2px;
							font-size: 20px;
							line-height: 24px;
							font-family: 'Gotham_Pro_Regular';
						}

						h3 {
							color: #7f7f7f;
							margin-bottom: 2px;
							font-size: 20px;
							line-height: 24px;
							font-family: 'Gotham_Pro_Regular';
						}

						.quantity { float: none; }

						.select {
							background: #ededed;
							display: inline-block;
							padding: 10px 5px 10px 4px ;
							font-family: 'Gotham_Pro_Regular';
							border-radius: 5px;
							font-size: 16px;
							position: relative;

							.icon-down {
								position: absolute;
								top: 40%;
								right: 4px;
								transform: translateY(-50%);
							}

							.icon-down:before {
								content: "\58";
								color: #333;
								font-size: 10px;
							}
						}

						.icon-down:before {
							content: "\58";
							color: #333;
							font-size: 10px;
						}

						div.price {
							float: right;
							margin-top: 15px;
							margin-right: 15px;

							.icon-price:before {
								content: "\69";
								color: #7f7f7f;
								font-size: 15px;
							}

							.price {
								font-size: 15px;
								font-family: 'Gotham_Pro_Regular';
							}
						}

					}
				}

				&.total {
					padding: 25px 15px;
					color: #1c1c1c;
					font-size: 18px;
					line-height: 24px;
					font-family: 'Gotham_Pro_Regular';
					text-transform: uppercase;
					font-weight: 700;

					div { float: left; }

					.icon-price:before {
						content: "\69";
						color: #1c1c1c;
						font-size: 15px;
						font-weight: 700;
					}

					.float-right {
						color: #1c1c1c;
						float: right;
						margin-right: 15px;
					}
				}
			}

		.order-btn {
			margin: auto;
			margin-top: 25px;
			background: #db1514;
			color: color($colors, secondary);
			height: 50px;
			line-height: 50px;
			text-align: center;
			width: 90%;
			border-radius: 5px;
			font-size: 25px;
			font-family: 'Gotham_Pro_Regular';
			font-weight: 700;
			text-transform: uppercase;
		}

		.deletecart {
			background: #db1514;
			padding: 9px;
			border-radius: 50%;
			float: right;
			margin-top: 25px;
			width: 37px;
			height: 37px;
			margin-right: 3px;

			.icon-delete:before {
				content: "\64";
				color: color($colors, secondary);
				font-size: 18px;
			}
		}


	}
}
