* {
	box-sizing: border-box;
}

// .ngrid-settings-button {
// 	top: 50%;

// }

h1.logotext {
	color: color($colors, secondary);
	font-size: 45px;
	margin-top: 1rem;
}

ion-content {
	font-family: 'Gotham_Pro_Bold';
	background: color($colors, primary);

	&.content-ios {
		background: color($colors, primary);
	}

	&.content-md {
		background: color($colors, primary);
	}
}

.scroll-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-left: 33px !important;
	padding-right: 33px !important;
}

.clearfix::before {
	content: '';
	display: block;
}

.clearfix::after {
	content: '';
	clear: both;
	display: block;
}

.text-decorate {
	text-decoration: underline;
}

.toolbar-background {
	background: #f00;
	border: 0 !important;
}

.toolbar-content button {
	background: #f00;

	ion-icon {
		font-size: 32px;
		color: color($colors, secondary);
	}
}

.toolbar-title {
	color: color($colors, secondary) !important;
	font-size: 28px;
	font-family: 'Gotham_Pro_Bold';
}

.back-button {
	.back-button-text { visibility: hidden; }

	.back-button-icon {
		color: color($colors, secondary);
	}
}

.toast-message { text-align: center; }

.swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	background: #2c2b2b;
	opacity: 1;
	margin: 0 3px !important;
}

.swiper-pagination-bullet-active {
	background: color($colors, primary);
}

.search {
	float: right;
	color: color($colors, secondary);
	margin-right: 10px;
	font-size: 20px;
	margin-top: 6px;
}

.icon-tables {
	font-family: 'icomoon';
	font-size: 150px;
}

.loader .loading-wrapper {
	background: transparent;
	position: absolute;
	bottom: 75px;

	.spinner-bubbles circle {
		fill: #fff;
	}
}

// .icon-tables:before {
  // content: "\e902";
   // fontFamily: "icomoon",
        // fontSize: "150"
// }

page-home {
	.welcome-msg {
		font-family: 'Gotham_Pro_Regular';
		color: color($colors, secondary);
		font-size: 25px;
	}
}
