page-productdetail {
	.scroll-content {
		display: block;
		background: #ededed;
		padding: 0 !important;
	}

	.toolbar-content {
		ion-title {
			padding: 0 50px 1px;

			.toolbar-title {
				font-size: 22px;
			}
		}
	}

	.search { margin-top: 0; }

	rating {
		float: right;
		font-size: 0;

		.star-icon[_ngcontent-c0]:before {
			color: #ffba00;
		}

		.star-icon[_ngcontent-c0] {
			color: #7f7f7f;
		}

		span {
			span {
				font-size: 0;
				i.star-icon {
					font-size: 18px !important;
				}
			}
		}
	}

	.product-intro {
		padding: 15px;
		background: color($colors, secondary);

		h2 {
			color: #262626;
			font-size: 24px;
			line-height: 28px;
			font-family: 'Gotham_Pro_Regular';
			font-weight: 700;
		}

		h3 {
			color: #4f4f4f;
			font-size: 20px;
			line-height: 24px;
			font-family: 'Gotham_Pro_Regular';
			margin-bottom: 5px;
		}

		h4 {
			margin-top: 0;
			color: #4f4f4f;
			font-size: 14px;
			line-height: 18px;
			font-family: 'Gotham_Pro_Regular';
		}

	}

	.product-detail {
		margin: 15px;
		background: color($colors, secondary);
		position: relative;
		border-radius: 10px;

		.price {
			margin: 0;
			padding: 10px;
			color: #db1514;
			font-size: 28px;
			line-height: 30px;
			font-family: 'Gotham_Pro_Regular';
			font-weight: 700;
		}

		.share-icon {
			position: absolute;
			top: 10px;
			right: 10px;
			color: #7f7f7f;
			font-size: 26px;
		}

		.product-img {
			padding: 0 5% 10px;
			margin-bottom: 10px;
		}

		.description {
			padding: 10px;
			margin-bottom: 74px;

			h5 {
				color: #111;
				font-size: 20px;
				line-height: 30px;
				font-family: 'Gotham_Pro_Bold';
				font-weight: 700;
				text-transform: uppercase;
			}

			p {
				color: #333;
				font-size: 14px;
				line-height: 20px;
				font-family: 'Gotham_Pro_Regular';
			}
		}

		.image-slider {
			text-align: center;
			padding-bottom: 15px;
			border-bottom: 2px solid #bfbfbf;

			.image {
				display: inline-block;
				width: 30%;
				margin-right: 3%;
				border: 1px solid #7f7f7f;
				margin-top: 10px;

				&:nth-child(3n-0) {
					margin-right: 0;
				}

				&.active {
					border-color: #db1514;
				}
			}
		}

	}

	.buttons-container {
		background: color($colors, secondary);
		padding: 10px 15px;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;

		button {
			color: color($colors, secondary);
			float: left;
			width: 49%;
			margin-right: 2%;
			height: 45px;
			border-radius: 7px;
			font-size: 20px;
			line-height: 20px;
			font-family: 'Gotham_Pro_Regular';
			font-weight: 700;
			text-transform: uppercase;

			&:last-child {
				margin-right: 0;
			}

			&.buy-button {
				background: #db1514;
			}

			&.rate-button {
				color: #7f7f7f;
				background: #ededed;
				border: 1px solid #7f7f7f;
			}
		}
	}

	.rating-popup {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 10px;
		z-index: 1;
		background: rgba(0,0,0,0.3);

		.content {
			margin: 70px 15px;
			background: color($colors, secondary);
			border-radius: 8px;
			padding: 20px;

			h2 {
				font-size: 24px;
				line-height: 28px;
				font-family: 'Gotham_Pro_Regular';
				text-align: center;
				margin-bottom: 40px;
			}

			.ratings {
				text-align: center;
				margin-top: 10px;

				rating {
					float: none;

					i.star-icon {
						font-size: 35px !important;
					}
				}
			}

			.rate-button button {
				background: #db1514;
				color: color($colors, secondary);
				width: 100%;
				height: 45px;
				margin-top: 20px;
				border-radius: 7px;
				font-size: 20px;
				line-height: 20px;
				font-family: 'Gotham_Pro_Regular';
				font-weight: 700;
				text-transform: uppercase;
			}


		}
	}

	.buy-popup {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 10px;
		z-index: 1;
		background: rgba(0,0,0,0.3);

		.content {
			margin: 70px 15px;
			background: color($colors, secondary);
			border-radius: 8px;
			padding: 20px;

			h2 {
				font-size: 24px;
				line-height: 28px;
				font-family: 'Gotham_Pro_Regular';
				text-align: center;
				margin-bottom: 40px;
			}

			.quantity {
				text-align: center;

				label {
					color: #2b2b2b;
					font-size: 24px;
					line-height: 28px;
					font-family: 'Gotham_Pro_Regular';
				}

				input {
					margin-top: 10px;
					border: 2px solid;
					width: 100px;
					height: 50px;
					font-size: 36px;
					text-align: center;
					font-family: 'Gotham_Pro_Regular';
				}
			}

			.buy-button button {
				background: #db1514;
				color: color($colors, secondary);
				width: 100%;
				height: 45px;
				margin-top: 20px;
				border-radius: 7px;
				font-size: 20px;
				line-height: 20px;
				font-family: 'Gotham_Pro_Regular';
				font-weight: 700;
				text-transform: uppercase;
			}


		}
	}



}
