page-homescreen {
	.search { margin-top: 0; }
	.scroll-content {
		padding: 0 !important;
		display: block;
		background: color($colors, secondary);
	}

	ion-slides {
		height: 250px;

		ion-slide.swiper-slide {
			display: block;

			img { height: 100%; }
		}
	}

	.blocks {
		padding: 13px;

		.block {
			background: color($colors, primary);
			width: 48%;
			float: left;
			margin-right: 4%;
			margin-top: 4%;
			padding: 15px;

			&:nth-child(even) {
				margin-right: 0;
			}

			&:first-child,
			&:nth-child(2) { margin-top: 0; }

			&:nth-child(2) {
				h2 {
					margin-top: 3px;
				}
			}

			&:first-child,
			&:last-child {
				h2 { text-align: right; }
			}

			&:nth-child(2),
			&:nth-child(3) {
				span { float: right; }
			}

			&:nth-child(3) {
				span {
					margin-top: 13px;
				}
			}

			&:last-child {
				h2 { margin-top: 10px; }

				span {
					margin-bottom: 10px;
				}
			}

			h2 {
				margin: 0;
				padding: 0;
				font-size: 23px;
				font-family: 'Gotham_Pro_Regular';
				font-weight: 700;
				color: color($colors, secondary);
			}

			.icon {
				img {
					width: 100px;
				}
			}




		}
	}




}
